*{
    margin: 0;
}

body{
    background-image: url("./img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.header{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header h2{
    color:lightblue;
    margin: 1rem;
}
.header ul li{
    color: aliceblue;
    margin: 0.5rem;
    
}