*{
    margin: 0;
}

body{
    background-image: url("./img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    flex-direction: column;
    align-content: center;

}

h1{
    margin: 1rem;
    text-align: center;
    
    
}
h1 span{
    color: white;
    padding: 0.4rem;
    background-color:navy;
    border: 4px ridge red;
}

.header{
    width: fit-content;
    display: inline-flex;
    align-items: center;
    margin: 3rem auto auto auto;
    padding: 3rem;
    border: 4px solid white;
    border-radius: 3rem;
    background-color: navy;

}
.header h2{
    color:lightblue;
    
}

.header ul li{
    color: aliceblue;
    margin: 0.7rem;
    font-size: 1.1rem;
    
    
}
.main{
    margin: 1rem;
}
.main h2{
    display: block;
    width: fit-content;
    margin: 2rem auto auto auto;
    color: blue;
    padding: 0.5rem;
    background-color: aliceblue;
    border: 4px inset burlywood;
    border-radius: 10px;
}
.main ol{
    margin: 2rem auto auto auto;
    width:fit-content;
    background-color: aquamarine;
    border: 4px inset burlywood;
    border-radius: 10px;
    font-size: 1.1rem;
}

.calorie h3{
    width: fit-content;
    margin: 2rem auto;
    padding: 0.5rem;
    background-color: aliceblue;
    border: 4px inset burlywood;
    border-radius: 10px;
}
.calorie table{
    margin: 3rem auto;
    width: fit-content;
    background-color: aliceblue;
    border-collapse: collapse;
}
.calorie th,td{
    border: 3px solid black;
    padding: 1rem;
}

.contact h3{
    width: fit-content;
    margin: 2rem auto;
    padding: 0.5rem;
    background-color: aliceblue;
    border: 4px inset burlywood;
    border-radius: 10px;
}

.contact form{
    text-align: center;
    margin: auto;
    width: fit-content;
    width: fit-content;
    margin: 2rem auto;
    padding: 0.5rem;
    background-color: aliceblue;
    border: 4px inset burlywood;
    border-radius: 10px;
}

.contact textarea{
    height: 150px;
    width: 400px;
}